<div id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/home">CMS</a>
    </div>

    <ul class="sidebar-nav">
      <img src="/uploads/14440973_613960828783997_4228388918296101803_n.jpg" class="img-responsive img-circle profile_img" alt="" />
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>Moiz Ali</h2>
        </div>

        <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/contacts_all"><i class="fa fa-building-o"></i>Contacts</a></li>
        <li><a href=""><i class="fa fa-search"></i>Contact Search</a></li>
        <li><a href=""><i class="fa fa-bars"></i>Leaderboard</a></li>

    </ul>
</div>
