<% layout('layout2') %>

<div id="wrapper">

<% include ./partials/sidebar %>

    <div id="page-content-wrapper">

      <% include ./partials/navbar %>

        <div class="container-fluid main_body">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            <h1>Delete any User!</h1>
              <p>Just Type the Name</p>
          </div>
          <br><br><br>
          <form method="POST" action="/delete_user">
            <div class="form-group input_group">
              <input id="fullname" class="form-control" name="username" type="text" autocomplete="on" placeholder="Username" style="margin-bottom:20px; width:45%">
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="DELETE" class="form-control" name="search" style="width: 45%">
            </div>
          </form>
        </div>
    </div>
