<% layout('layout') %>


<div id="wrapper">


  <div id="sidebar-wrapper">
      <div class="sidebar-brand">
          <a href="/">CMS</a>
      </div>

      <ul class="sidebar-nav">
         <img src="http://placehold.it/100x100" class="img-responsive img-circle profile_img" alt="">
          <div class="profile_info">
              <span>Welcome,</span>
              <h2>Guest</h2>
          </div>


          <li class="lists">You can evaluate the amazing features of CMS by forwarding a request to admin for sign up</li>
          <li><a href=""><i class="fa fa-registered"></i>REQUEST</a></li>

          <li class="lists">After registration, you can make contacts, view all or search specified ones.</li>

      </ul>
  </div>


  <div id="page-content-wrapper">
     <% include partials/nav %>
      <div class="container-fluid main_body">
         <h1>Welcome to CMS</h1>

         <div class="bodyDiv">


          </div>

      </div>
  </div>


</div>
