<% layout('layout') %>


<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/"></a></h1>
    </div>
   <br><br>

   <div class="col-md-offset-4">

    </div><br>


   <div class="text-center reg_msg">
        <h2 class="fancy"><span>Login</span></h2>
   </div><br>

    <div class="row signup">
    <%  if (loginFirst) { %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
        </a>
        <%= errorOutput %>
      </div>
    <%  } %>

      <% if (hasErrors) { %>
        <% for ( var i=0; i < messages.length; i++ ){ %>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">

            </a>
            <%= messages[i] %>
          </div>
      <%  } %>
      <% } %>


        <form method="POST" action="/login">



            <div class="form-group input_group">
                <input id="fullname" class="form-control" name="username" type="text" autocomplete="on" placeholder="Username" style="margin-bottom:20px;">
            </div>

            <div class="form-group input_group">
                <input id="password" class="form-control" name="password" type="password" placeholder="Password" style="margin-bottom:20px;">
            </div>


            <div class="form-group">
                <input type="submit" id="submit" value="LOGIN" class="form-control btn btn-primary" name="login" style="">
            </div>

          </form>



    </div>
</div>
